INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/Makefile
bin/Makefile.in
bin/ocrfeeder
bin/ocrfeeder-cli
compile
config.log
config.status
configure
help/Makefile
help/Makefile.in
help/??/*.page
help/??/??.mo
help/??/??.stamp
help/??/legal.xml
install-sh
m4/intltool.m4
missing
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-it
py-compile
resources/Makefile
resources/Makefile.in
resources/icons/Makefile
resources/icons/Makefile.in
resources/ocrfeeder.desktop
src/Makefile
src/Makefile.in
src/ocrfeeder/Makefile
src/ocrfeeder/Makefile.in
src/ocrfeeder/feeder/Makefile
src/ocrfeeder/feeder/Makefile.in
src/ocrfeeder/odf/Makefile
src/ocrfeeder/odf/Makefile.in
src/ocrfeeder/studio/Makefile
src/ocrfeeder/studio/Makefile.in
src/ocrfeeder/util/Makefile
src/ocrfeeder/util/Makefile.in
src/ocrfeeder/util/constants.py
