include ocrfeeder ocrfeeder-cli README COPYING NEWS TRANSLATORS Makefile AUTHORS
recursive-include resources *
recursive-include locale *
recursive-include po *
recursive-include changelog compat control copyright rules 

